@use "../../theme/colors.scss" as *;
.received-msg-contianer {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;

  .msg-and-time {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .msg-box {
      margin-top: 20px;
      padding: 8px 16px;
      background-color: $card-light-dark;
      border-radius: 0px 20px 20px 20px;
    }
    span {
      color: aliceblue;
      opacity: 0.2;
      padding-left: 5px;
      font-size: 0.8rem;
    }
  }
}
