$background-color: #fff;
$card: #e8e8e8;
$card-medium: #f5f5f5;
$card-light: #fff;
$text-color: #000;
$border-or-icon-color: #c6c6c6;

$chat-card-color: #2984fe;
$notification-color: #eb6c48;
$button-color: #fc6b68;

$background-color-dark: #161819;
$card-dark: #202224;
$card-medium-dark: #202224;
$card-light-dark: #27292d;
$text-color-dark: #fff;
$border-or-icon-color-dark: #828486;
